* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;           
}

body {
    background-color: #322c2c;
}

main {
    width: 100%;
    min-height: 100vh;
}

section#puzzle {
    width: 100%;
}

.page-title h1 {
    text-align: center;
    color: #00b8ff;
}

#game {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2.5em;
	padding: 1em;
}

#game .puzzle_piece {
    position: relative;
    width: 33%;
    height: 200px;
    border: 1px solid;
    text-align: center;
    background-color: #cbb1ab;
    font-size: 35pt;
}

.selected-animation {
    background-color: #03A9F4!important;
}

.fail-animation {
    background-color: red!important;
}
